@import "tailwindcss";

/* Definimos a variável da fonte vinda do Next.js */
@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Reset de cores e aplicação da fonte Poppins */
body {
  background-color: #ffffff !important;
  color: #171717 !important;
  /* Aqui chamamos a variável que o Next.js injeta no Layout */
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Opcional: Garante que inputs e botões também usem Poppins */
input, button, textarea, select {
  font-family: var(--font-poppins), sans-serif;
}